<% layout('boilerplate') -%>
<style>
  img {
    width: 100%;
    margin: 0 auto;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">    
      <img class="img-responsive" src="http://i.imgur.com/76nPcQK.png?1" alt="">
    </div>
  </div>
</div>